.ft{
    background-color:white;height:70px;	z-index: 1;margin-top:5px;
}

.text-footer{
    padding-left:20px;
    float:left;
    margin-right:30%;
}

.gid-991-img {
    width: 100%;
    height: 20%;
}

.btn-choice {
  display: block;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}

.btn-choice:hover,.btn-choice.active {
  background: #45aed6;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}

.btn-choice.active:after{
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: orange transparent transparent transparent;
}

.gid-991-title,
.gid-991-content {
    text-align: center;
}

.div-container {
    width: 25%;
    height: 40%;
}

.block {
    background-color: rgb(255, 165, 89);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 10px;
    padding: 15px;
}



@media(max-width: 991px) {
    .margin-container {
        margin-left: 0px;
    }
    .div-container {
        width: 25%;
        height: 40%;
    }
    .text-footer{
    margin-right:10%;
   }
}

@media(max-width: 767px) {
    .div-container {
        width: 25%;
        height: 40%;
        float: left;
    }
    .ft{
        height: 120px
    }
    .text-footer{
        margin-right:0px;
       float:none;
   }
   .icons-portfolio{
       margin-left: 45%;
        }
    .text-footer{
       margin-left: 10%;
        }
}

@media(max-width: 696px) {
    .gid-991-title {
        font-size: 18px;
    }
    .gid-991-content {
        font-size: 15px;
    }
    .icons-portfolio{
       margin-left: 40%;
        }
    .text-footer{
       margin-left: 5%;
        }
}

@media(max-width: 590px) {
    .div-container {
        width: 50%;
        margin: auto
    }
    .gid-991-img {
        height: 40%
    }
    .gid-991-title {
        font-size: 24px;
    }
    .gid-991-content {
        font-size: 20px;
    }
     .icons-portfolio{
       margin-left: 40%;
        }
    .text-footer{
       margin-left: 0px;
       font-size: 13px
        }
}

@media(max-width: 529px) {
    .div-container {
        width: 80%;
        height: 100%;
        float: none;
    }
    .btn-choice{
        padding-left:8px;
        padding-right:8px;
        font-size: 10px;
    }
    .portfolio-filter-label{
        padding:9px 8px;
    }
}

@media(max-width: 350px) {
    .div-container {
        width: calc(100% - 20px);
        height: 100%;
    }
    .btn-choice{
        padding-left:5px;
        padding-right:5px;
        font-size: 10px;
    }
    .portfolio-filter-label{
        padding:9px 5px;
    }
}
